.main {
    max-width: 375px;
    width: 100%;
    height: 100vh;
    background: #FEF6F4;
    padding: 24px 16px;

    &__title {
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        color: #000000;
        margin-bottom: 16px;
    }
}